[build]
  command = "npm install && npm run build"
  publish = "dist"

[functions]
  node_bundler = "esbuild"

# SPA fallback (React router)
[[redirects]]
  from = "/generator/*"
  to = "/generator/index.html"
  status = 200

# optionnel (clean URL)
[[redirects]]
  from = "/generator"
  to = "/generator/"
  status = 301
