[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/generator"
  to = "/generator/index.html"
  status = 200

[[redirects]]
  from = "/generator/*"
  to = "/generator/index.html"
  status = 200
