[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/generator"
  to = "/generator.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
